.form-main {
  display: flex;
  justify-content: center;

  .form-inner {
    background-color: whitesmoke;
    height: 300px;
    width: 450px;

    .btns {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin: 5px;
      .save-btn {
        height: 30px;
        width: 60px;
        background-color: rgb(67, 151, 207);
        color: white;
        // margin: 5px;
      }
      .cancel-btn {
        height: 30px;
        width: 60px;
        background-color: rgb(190, 187, 187);
        color: black;
        margin: 5px;
      }

      .delete-btn {
        height: 30px;
        width: 60px;
        background-color: red;
        color: white;
      }
    }
  }
}
